<head>
    <base href="/" />
</head>
<body ng-app="articlesApplication" ng-strict-di="">
    <blaze-template name="loginButtons"></blaze-template>
    <h1>
        <a href="/articles">Home</a>
    </h1>
    <div ui-view></div>
</body>