<form>
    <label>Title</label>
    <input ng-model="newArticle.title"/>
    <br/><br/>
    <label>Description</label>
    <textarea ng-model="newArticle.description"></textarea>
    <br/><br/>
    <label>Public</label>
    <input type="checkbox" ng-model="newArticle.public" />
    <br/><br/>
    <button ng-click="newArticle.owner=$root.currentUser._id; articles.save(newArticle); newArticle=''">Add</button>
    <br/><br/>
    <button ng-clisk="removeAll()">Remove All</button>
</form>
<hr/>
<ul>
    <h1>Articles</h1>
    <div>
        <input type="search" ng-model="search" placeholder="Search" />
        <select ng-model="orderProperty">
            <option value="1">Ascending</option>
            <option value="-1">Descending</option>
        </select>
    </div>
    <li dir-paginate="article in articles | itemsPerPage:perPage"
        total-items="articlesCount.count">
        <a href="/articles/{{article._id}}">{{article.title}}</a>
        <p>{{article.description}}</p>
        <button ng-click="remove(article)">&times;</button>
        <p><small>Posted by {{ creator(article) | displayName }}</small></p>
    </li>
</ul>
<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>