Here you see the details of article with number: {{article._id}}
<br/><br/>
<input ng-model="article.title" />
<br/><br/>
<textarea ng-model="article.description"></textarea>
<br/><br/>
<label>Is public</label>
<input type="checkbox" ng-model="article.public" />
<br/><br/>

<ul>
    Users:
    <li ng-repeat="user in users | uninvited:article">
        <div>{{ user | displayName }}</div>
    </li>
</ul>

<br/><br/>

<button ng-click="save()">Save</button>
<button ng-click="reset()">Reset</button>
<button ui-sref="articlesList">Cancel</button>